table {
  border-spacing: 0px;
  text-align: center;
  font-size: 1em;
}

td {
  width: 35px;
  height: 35px;
  border: 1px solid black;
  padding: 0px;
  margin: 0px;
  border-collapse: collapse;
}

span {
  color: red;
  font-size: 1.5em;
  visibility: hidden;
}

.blue {
  color: blue;
}

.revealed {
  visibility: visible;
}

.flag {
  background: red;
}

.bomb {
  background: url('../images/bomb_img.jpg') no-repeat center center;
  background-size: cover;
  border: 4px solid red;
}

#game-div {

}